* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}



.Header {
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.Header .Logo {
    display: flex;
    align-items: center;
}

.Header .Logo h2 {
    font-size: 3rem;
    color: #D6000D;
}

.Header .Logo span {
    font-size: 3rem;
    color: black
}

.Menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.Menu li {
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.Menu a {
    padding: .8rem 4rem;
    border-radius: 12px;
    font-weight: bold;
    background-color: #D6000D;
    color: white;
    transition: .5s;
}

.Menu a:hover {
    background-color: #b1000c;
}

.Landing {
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    align-items: center;
}

.Landing img {
    width: 45%;
}

.Landing .Content {
    display: flex;
    flex-direction: column;
}

.Landing .Content a {
    padding: .8rem 4rem;
    border-radius: 12px;
    font-weight: bold;
    max-width: 15rem;
    font-size: 1.5rem;
    background-color: #D6000D;
    color: white;
    transition: .5s;
}

.Landing .Content a:hover {
    background-color: #b1000c;
}

.Landing .Content h1 {
    font-size: 3.5rem;
    color: #D6000D;
    margin-top: .4rem;
    margin-bottom: 3rem;
}

.Servicos {
    padding: 0 15rem;
    height: 80vh;
}

.Servicos .Content {
    display: flex;
    justify-content: space-between;
}

.Servicos .Content img {
    width: 40%;
}

.Servicos .Content ul {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Servicos .Content li {
    font-size: 1.5rem;
    margin-bottom: 12px;
    align-items: center;
    display: flex;
}

.Servicos .Content li img {
    width: 5%;
    padding-right: 15px;
}

.Servicos .Contato {
    display: flex;
    flex-direction: column;
}

.Servicos .Contato .Cel {
    margin-top: 10px;
}

.Servicos .Contato .Cel a {
    padding: .8rem 3rem;
    border-radius: 12px;
    font-size: 1.2rem;
    margin-left: 10px;
    background-color: #D6000D;
    color: white;
    transition: .5s;
}

.Servicos .Contato .Cel a:hover {
    background-color: #b1000c;
}

.Servicos .Contato .Cel input {
    border-radius: 12px;
    font-size: 1.2rem;
    height: 2.7rem;
    padding-left: 12px;
}

.Assessments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15rem;
    height: 50vh;
    align-items: center;
}

.Assessments .Card-Assessment {
    max-width: 30%;
    background-color: rgb(230, 230, 230);
    padding: 1.5rem 3rem;
    border-radius: 20px;
}

.Assessments .Card-Assessment .Persona {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Assessments .Card-Assessment .Persona img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.Assessments .Card-Assessment .Persona-Informations {
    display: flex;
    flex-direction: column;
}

.Assessments .Card-Assessment .Persona-Informations {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

footer {
    padding: 0 15rem;
    background-color: black;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white
}

footer .Logo {
    font-size: 3rem;
}

footer h2 {
    font-size: 1.7rem;
}

footer section {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    height: 10rem;
}

footer h2 {
    margin-bottom: 2rem;
}

